$primary-color-dark:   #252831;
$primary-color:        #444;
$primary-color-light:  #eee;

$secondary-color:      #519ede;

$back-color :          #fafafa;
$accent-color:         #ffa500;

$primary-text-color:   #212121;
$secondary-text-color: #fff;

$divider-color:        #B6B6B6;